<%= form_for @genre_group do |f| %>

  <%= render 'shared/error_messages', object: @genre_group %>

  <div class="form-group">
    <%= f.label :name, "Genre Group Name", class: "control-label", data: { required: true } %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <!--
  <div class="form-group">
    <%= f.label :genres, class: "control-label" do %>
      Genres <small class="text-muted">(one per line)</small>
    <% end %>
    <%= f.text_area :genres, value: @genre_group.genres.map { |g| g.name }.join( "\n" ), class: "form-control", rows: 10 %>
  </div>
  -->

  <%= f.submit yield( :button_text ), class: "btn btn-primary btn-lg btn-block" %>

<% end %>