<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel-heading">
       <div class="panel-title text-center">
          <h1 class="title"><%= yield( :title ) %></h1>
          <hr>
        </div>
    </div>

    <%= form_for @genre_group do |f| %>

      <%= render 'shared/error_messages', object: @genre_group %>

      <div class="form-group">
        <%= f.label :name, "Genre Group Name", class: "control-label", data: { required: true } %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <label class="control-label">Genres:</label>
      <br>
      <%= render partial: "shared/selector", locals: { items: @all_genres, select: "genres", checked_items: @added_genres } %>

      <br/>

      <%= f.submit yield( :button_text ), class: "btn btn-primary btn-lg btn-block" %>

    <% end %>

  </div>
</div>