<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#filterModal">
  Filter Bands
</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Provider</th>
      <th>Provider ID</th>
      <th>Thumbnail</th>
      <th>External URL</th>
      <th>Creator</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <%= content_tag :td, band.id %>
        <%= content_tag :td, link_to( band.name, band_link( band ) ) %>
        <%= content_tag :td, band.provider %>
        <%= content_tag :td, band.provider_id %>
        <%= content_tag :td, ( image_tag( band.thumbnail ) if band.thumbnail.present? ) %>
        <%= content_tag :td, ( link_to( "[Link]", band.external_url ) if band.external_url.present? ) %>
        <%= content_tag :td, ( link_to( band.user.username, band.user ) if band.user.present? ) %>
        <%= content_tag :td, band.created_at.strftime( "%m/%d/%Y %I:%M%p" ) %>
        <%= content_tag :td, band.updated_at.strftime( "%m/%d/%Y %I:%M%p" ) %>
        <%= content_tag :td, link_to( "Edit", edit_band_link( band ) ) %>
        <%= content_tag :td, link_to( "Delete", band, method: :delete, data: { confirm: "You sure?" } ) %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bands %>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="filterModalLabel">Filter Bands</h4>
      </div>
      <div class="modal-body">
        <%= form_tag admin_bands_path, method: :get, id: "filterForm", class: "form-horizontal" do %>
          <div class="form-group">
            <%= label_tag :id, "ID:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :id, params[ :id ], class: "form-control", autocomplete: "none", autocapitalize: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :name, "Name:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :name, params[ :name ], class: "form-control", autocomplete: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :provider, "Provider:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= select_tag :provider, options_for_select( [ "" ] + Band::PROVIDERS, params[ :provider ] ), class: "form-control", autocomplete: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :provider_id, "Provider ID:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :provider_id, params[ :provider_id ], class: "form-control", autocomplete: "none", autocapitalize: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :thumbnail, "Thumbnail:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :thumbnail, params[ :thumbnail ], class: "form-control", autocomplete: "none", autocapitalize: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :external_url, "External URL:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :external_url, params[ :external_url ], class: "form-control", autocomplete: "none", autocapitalize: "none" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :user, "Creator:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= text_field_tag :user, params[ :user ], class: "form-control", autocomplete: "none" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-form-submit="#filterForm">Filter</button>
      </div>
    </div>
  </div>
</div>