<%= form_for @user do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <% if @user.new_record? %>
    <div class="form-group">
      <%= f.label :username, class: "control-label", data: { required: true } %>
      <%= f.text_field :username, class: "form-control", pattern: "[a-zA-Z0-9]+", title: "Username can only contain letters and numbers." %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label", data: { required: @user.new_record? } %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation", class: "control-label", data: { required: @user.new_record? } %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit yield( :button_text ), class: "btn btn-primary btn-lg btn-block" %>

<% end %>