<% provide( :title, @user.name ) %>

<div class="span3 well">
  <center>
    <%= gravatar_tag( @user, size: 140 ) %>
    <h1><%= @user.name %></h1>
    <em><%= @user.email %></em>
    <% if admin? && !current_user?( @user ) %>
      <br>
      <%= link_to "Delete User", @user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
	</center>
</div>

<div class="row">

  <% if @bands.any? %>
    <div class="col-md-4">

      <h2>Liked Bands</h2>

      <div class="list-group">
        <%= render partial: "bands/band", collection: @bands %>
      </div>

      <%= will_paginate @band_likes, param_name: :bands_page %>

    </div>

  <% end %>

</div>

