<% provide( :title, @user.username ) %>

<div class="span3 well">
  <center>
    <%= gravatar_tag( @user, size: 140 ) if @user.email.present? %>
    <h1><%= @user.username %></h1>
    <%= content_tag :em, @user.email if @user.email.present? %>
    <br>
    <%= link_to "Import bands from Spotify", "/auth/spotify" unless !current_user?( @user ) %>
	</center>
</div>

<div class="row">

  <div class="col-md-4">
    <% if @liked_bands.any? %>
      <h2>Liked Bands</h2>

      <div class="list-group">
        <%= render partial: "bands/band_compact", collection: @liked_bands, as: :band %>
      </div>

      <%= paginate @liked_bands, param_name: :liked_bands_page %>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if @created_bands.any? %>
      <h2>Created Bands</h2>

      <div class="list-group">
        <%= render partial: "bands/band_compact", collection: @created_bands, as: :band %>
      </div>

      <%= paginate @created_bands, param_name: :created_bands_page %>
    <% end %>
  </div>

</div>
