<% provide( :title, @user.username ) %>

<div class="well">
  <center>
    <% if @user.email.present? %>
      <%= gravatar_tag( @user, size: 140 ) %>
    <% else %>
      <img data-src="holder.js/800x600?text=&#63;&size=48&auto=true" alt="<%= @user.username %>" class="img-thumbnail">
    <% end %>
    <h1><%= @user.username %></h1>
    <%= content_tag :em, @user.email if @user.email.present? %>
    <br>
    <%= link_to "Import bands from Spotify", "/auth/spotify" unless !current_user?( @user ) %>
	</center>
</div>

<div class="row">

  <div class="col-md-4">
    <h2>Liked Bands</h2>

    <% if @liked_bands.any? %>
      <div class="list-group">
        <%= render partial: "bands/band_compact", collection: @liked_bands, as: :band %>
      </div>

      <%= paginate @liked_bands, param_name: :liked_bands_page %>
    <% else %>
      <p>No liked bands...</p>
    <% end %>
    <%= link_to "Find Bands", bands_path, class: "btn btn-default btn-block" %>
  </div>

  <div class="col-md-4">
    <h2>Created Bands</h2>

    <% if @created_bands.any? %>
      <div class="list-group">
        <%= render partial: "bands/band_compact", collection: @created_bands, as: :band %>
      </div>

      <%= paginate @created_bands, param_name: :created_bands_page %>
    <% else %>
      <p>No created bands...</p>
    <% end %>
    <%= link_to "Add Band", new_band_path, class: "btn btn-default btn-block" %>
  </div>

  <div class="col-md-4">
    <h2>Genre Groups</h2>

    <% if @genre_groups.any? %>
      <div class="list-group">
        <%= render @genre_groups %>
      </div>

      <%= paginate @genre_groups, param_name: :genre_group_page %>
    <% else %>
      <p>No created genre groups...</p>
    <% end %>
    <%= link_to "Add Genre Group", new_genre_group_path, class: "btn btn-default btn-block" %>
  </div>

</div>
