<% provide( :title, @user.name ) %>

<div class="span3 well">
  <center>
    <%= gravatar_tag( @user, size: 140 ) %>
    <h1><%= @user.name %></h1>
    <em><%= @user.email %></em>
    <br>
    <%= link_to "Import bands from Spotify", "/auth/spotify" unless !current_user?( @user ) %>
	</center>
</div>

<div class="row">

  <% if @bands.any? %>
    <div class="col-md-4">

      <h2>Liked Bands</h2>

      <div class="list-group">
        <%= render @bands %>
      </div>

      <%= will_paginate @bands, param_name: :bands_page %>

    </div>

  <% end %>

</div>
