<center>
  <% if @genres.any? or @genre_groups.any? %>

    <%= form_tag choose_url, method: :get do |f| %>
      <% if @genre_groups.any? %>
        <h2>Genre Groups:</h2>
        <%= render partial: "shared/selector", locals: { items: @genre_groups, select: "genre_groups" } %>
      <% end %>

      <% if @genres.any? %>
        <h2>Genres:</h2>
        <%= render partial: "shared/selector", locals: { items: @genres, select: "genres" } %>
      <% end %>

      <br>

      <%= submit_tag "Choose!", name: nil, class: "btn btn-lg btn-primary", data: { behavior: "choose" } %>
    <% end %>

  <% else %>
    <h1>You do not have any liked bands!</h1>
    <p>
      <%= link_to "Find Bands", bands_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Create Bands", new_band_path, class: "btn btn-lg btn-primary" %>
    </p>
  <% end %>
</center>