<%= form_for @band do |f| %>

  <%= render 'shared/error_messages', object: @band %>

  <div class="form-group">
    <%= f.label :name, "Band Name", class: "control-label", data: { required: true } %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :thumbnail, class: "control-label" %>
    <%= f.url_field :thumbnail, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :external_url, class: "control-label" %>
    <%= f.url_field :external_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :genres, class: "control-label" do %>
      Genres <small class="text-muted">(one per line)</small>
    <% end %>
    <%= f.text_area :genres, value: @band.genres.map { |g| g.name }.join( "\n" ), class: "form-control", rows: 10 %>
  </div>

  <%= f.submit yield( :button_text ), class: "btn btn-primary btn-lg btn-block" %>

<% end %>