<% provide( :title, "Bands" ) %>

<%= form_tag bands_url, method: :get, class: "form-horizontal" do %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for a band...", autofocus: true %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" title="Search Bands">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
<% end %>

<br>

<% if @bands.any? %>
  <ul class="nav nav-pills nav-justified band-index-tabs" role="tablist">
    <% @titles.zip( @providers ) do |title, provider| %>
      <li role="presentation" class="<%= "active" if provider == params[ :provider ] %>">
        <%= link_to title, "##{provider}", class: "band-tab", "aria-controls": title, role: "tab", data: { toggle: "tab", provider: provider } %>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @providers.each do |provider| %>
      <div role="tabpanel", class="tab-pane <%= "active" if provider == params[ :provider ] %>", id="<%= provider.parameterize %>">
        <% if @bands[ provider ].any? %>
          <div class="list-group">
            <%= render @bands[ provider ] %>
          </div>

          <%= will_paginate @bands[ provider ], param_name: "#{provider}_page", inner_window: 1, outer_window: 0 %>
        <% else %>
          <h4>No bands found...</h4>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>