<% provide( :title, @band.name ) %>

<div class="span3 well">
  <center>
    <% if @band.thumbnail.present? %>
      <%= image_tag( @band.thumbnail, alt: @band.name, class: "img-thumbnail" ) %>
    <% else %>
      <img data-src="holder.js/800x600?text=&#63;&size=48&auto=true" alt="<%= @band.name %>" class="img-thumbnail">
    <% end %>
    <% if @band.external_url.blank? %>
      <h1><%= @band.name %></h1>
    <% else %>
      <h1><%= link_to @band.name, @band.external_url, target: "_blank", rel: "noopener noreferrer" %></h1>
    <% end %>
    <%= content_tag( :em, @band.genres.map( &:genre ).join( ", " ) ) unless @band.genres.empty? %>
    <br>
    <br>
    <% if current_user?( @band.user ) %>
      <%= link_to "Edit", edit_band_link( @band ) %> |
      <%= link_to "Delete", band_url( @band ), method: :delete %>
    <% end %>
    <%= render "like_form" %>
	</center>
</div>
