<% provide( :title, @band.name ) %>

<div class="well">
  <center>
    <%= band_image_tag( @band ) %>
    <%= band_external_link_tag( @band ) %>
    <%= content_tag( :em, @band.genres.pluck( :genre ).join( ", " ) ) unless @band.genres.empty? %>
    <br>
    <br>
    <% if current_user?( @band.user ) %>
      <%= link_to "Edit", edit_band_link( @band ) %> |
      <%= link_to "Delete", band_url( @band ), method: :delete %>
    <% end %>
    <%= render "like_form" %>
	</center>
</div>
